body {
  display: flex;
  justify-content: center;
  background-color: #ededed;
}

#size {
  margin-top: 40px;
}

button {
  display: flex;
  padding: 15px 25px;
  margin-left: 80px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #ededed;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  color: #ededed;
  background-color: #412d2d;
}

button:active {
  background-color: #5c4646;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#buttons {
  display: flex;
  gap: 300px;
}

#rainbow {
  margin-top: 50px;
}

#grid-container {
  display: inline-grid;
  border: solid #ededed;
  border-width: 6px 100px 0;
  grid-gap: 1px;
  background-color: #AAAAAA;  
}

#grid-container > div {
  background-color: white;
}

.small-grid {
  grid-template-columns: repeat(16, auto);
}
.small-grid > div {
  height: 39px;
  width: 39px;
}

.medium-grid-default {
  grid-template-columns: repeat(32, auto);
}
.medium-grid-default > div {
  height: 19px;
  width: 19px;
}

.big-grid {
  grid-template-columns: repeat(64, auto);
}
.big-grid > div {
  height: 9px;
  width: 9px;
}